<footer class="bg-base-200 border-t border-base-300 p-2 flex justify-between items-center">
  <div class="flex items-center gap-4">
    <div class="flex items-center gap-1 text-primary">
      <span class="material-symbols-outlined ">fork_right</span>
      <span>main*</span>
    </div>
    <div class="items-center gap-1 opacity-60 hidden sm:flex">
      <span class="material-symbols-outlined ">error</span>
      <span>0</span>
      <span class="material-symbols-outlined ml-1">warning</span>
      <span>0</span>
    </div>
  </div>
  <div class="flex items-center gap-4 opacity-60">
    <span>UTF-8</span>
    <span class="hidden sm:block">JavaScript</span>
    <app-theme-selector/>
  </div>

</footer>
