/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@plugin "daisyui";

/* Polices */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-mono: 'JetBrains Mono', monospace;
}


@plugin "daisyui/theme" {
  name: "light-custom";
  default: true;
  color-scheme: light;

  /*   Backgrounds */
  --color-base-100: #ffffff;
  --color-base-200: #f2f2f2;
  --color-base-300: #e4e6eb;

  /* Texts */
  --color-base-content: #24292e;  /* main principal */
  --color-neutral: black;       /* Text secondary */
  --color-neutral-content: #6a737d;

  /* Accent */
  --color-accent: #e3e3e3;


  /* Primary */
  --color-primary: #005cc5;
  --color-primary-content: #ffffff;
  /* Border radius  */
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
}


@plugin "daisyui/theme" {
  name: "dark-custom";
  default: false;
  prefersdark: true;
  color-scheme: dark;
  --color-base-100: #0d0d0d; /* Background */
  --color-base-200: #161616; /* Sidenav / Explorer */
  --color-base-300: #2d2d2d; /* Tabs / Borders */

  /* Texts */
  --color-base-content: #ffffff;  /* Main */
  --color-neutral: #1f1f1f;       /* Secondary */
  --color-neutral-content: #8b99ad;       /* Secondary */

  /* Accent */
  --color-accent: oklch(55.4% 0.046 257.417);
  --color-accent-content: #bcc8d1;

  /* Primary */
  --color-primary: #00ff41;
  --color-primary-content: #ffffff;   /* White on blue */
  /* Border radius  */

  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
}
h1 {
  font-family: 'JetBrains Mono', serif
}
h2 {
  font-family: 'JetBrains Mono', serif
}
p{
  font-family: 'JetBrains Mono', serif
}
strong {
  color: var( --color-primary)
}



:root {
  --font-pixelify: 'Pixelify Sans', cursive;
  font-family: 'JetBrains Mono', serif
}

/* Markdown Container Style - Compatible Tailwind v4 avec Media Queries */
.markdown-container {
  @apply font-mono p-4 max-w-7xl mx-auto text-xs text-neutral-content;

  @media (min-width: 768px) {
    @apply text-sm;
  }

  h1 {
    @apply text-xl font-bold text-base-content mb-6 pb-2 border-b border-base-300;
    @media (min-width: 768px) {
      @apply text-2xl;
    }
  }

  h2 {
    @apply text-base font-bold text-base-content mb-2;
    @media (min-width: 768px) {
      @apply text-lg;
    }
  }

  article {
    @apply mb-4;
  }

  strong {
    @apply font-bold text-base-content;
  }

  ul {
    @apply list-none pl-0 space-y-1 ml-2;
  }

  li {
    @apply text-[10px];
    @media (min-width: 768px) {
      @apply text-xs;
    }
  }

  .meta {
    @apply mb-3 flex items-center flex-wrap;
  }

  .markdown-syntax {
    @apply text-primary;
  }
}

