/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@plugin "daisyui";

/* Polices */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-mono: 'JetBrains Mono', monospace;
}


@plugin "daisyui/theme" {
  name: "light-custom";
  default: true;
  color-scheme: light;

  /*   Backgrounds */
  --color-base-100: #ffffff;
  --color-base-200: #f2f2f2;
  --color-base-300: #e4e6eb;

  /* Texts */
  --color-base-content: #24292e;  /* main principal */
  --color-neutral: black;       /* Text secondary */
  --color-neutral-content: #6a737d;

  /* Accent */
  --color-accent: #e3e3e3;


  /* Primary */
  --color-primary: #005cc5;
  --color-primary-content: #ffffff;
  /* Border radius  */
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
}


@plugin "daisyui/theme" {
  name: "dark-custom";
  default: false;
  prefersdark: true;
  color-scheme: dark;
  --color-base-100: #0d0d0d; /* Background */
  --color-base-200: #161616; /* Sidenav / Explorer */
  --color-base-300: #2d2d2d; /* Tabs / Borders */

  /* Texts */
  --color-base-content: #ffffff;  /* Main */
  --color-neutral: #1f1f1f;       /* Secondary */
  --color-neutral-content: #8b99ad;       /* Secondary */



  /* Primary */
  --color-primary: #00ff41;
  --color-primary-content: #ffffff;   /* White on blue */
  /* Border radius  */

  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
}
h1 {
  font-size: var(--text-4xl);
  font-family: 'JetBrains Mono', serif
}
h2 {
  font-size: var(--text-2xl);
  font-family: 'JetBrains Mono', serif

}



:root {
  --primary: #3b82f6;
  --secondary: #64748b;
  --accent: #f59e0b;
  --background: #f9f4f1;

  --border-color: rgb(26 24 22);
  --border-size: 1px;

  --font-pixelify: 'Pixelify Sans', cursive;
}
