<div class="flex flex-col [&>p]:text-neutral-content
            [&>h2]:font-bold [&>h2]:tracking-wide [&>h2]:flex [&>h2]:w-full
            [&>h2]:my-3 [&>h2]:uppercase
            [&>h2]:justify-start
            [&>h2]:items-center
            [&>h2]:text-2xl
">
  <h1 itemprop="jobTitle" class="text-xl md:text-4xl font-bold mb-4">
    <span class="text-primary">></span>
    <ng-container i18n>Full-Stack Developer</ng-container>
    <span class="text-primary animate-pulse">|</span>
  </h1>
  <p>
    loreim ipsum dolor sit amet loreim ipsum dolor sit ametloreim ipsum dolor sit ametloreim ipsum dolor sit ametloreim
    ipsum dolor sit ametloreim ipsum dolor sit amet
  </p>
  <h2 >
    <span class="material-symbols-outlined mr-2 text-primary">
      code
    </span>
    technical_stack
  </h2>
  <div class="flex flex-wrap gap-2">
    @for(technology of this.technologies; track technology){
      <div class="badge bg-base-200 border-base-300 text-neutral-content rounded-xl p-2 ">

        <!-- Cas FontAwesome -->
        @if (technology.icon) {
          <fa-icon [icon]="['fab', technology.icon]"></fa-icon>
        }

        <!-- Cas URL externe (SVG/Image) -->
        @if (technology.iconUrl) {
          <img [src]="technology.iconUrl" [alt]="technology.name" class="w-3.5 h-3.5" />
        }

        <!-- Nom -->
        <span>{{ technology.name }}</span>

      </div>
    }
  </div>
  <h2 >
    <span class="material-symbols-outlined mr-2  text-primary">
      timelapse
    </span>
    Professional_path
  </h2>
  <div class="mb-3 w-full">
    <ul class="timeline timeline-vertical timeline-snap-icon timeline-compact">

      @for(experience of this.experiences; track experience; let last = $last; let index = $index){
        <li >
          <div class="timeline-middle">
            <span class="material-symbols-outlined text-primary text-sm">circle</span>
          </div>
          <div class="timeline-end slide-in"
               [style.animationDelay]="(index * 250) + 'ms'"
          >
            <app-experience-item [experience]="experience"/>
          </div>
          @if(!last) {
            <hr />
          }
        </li>
      }

    </ul>
  </div>

</div>
