<div class="w-full  flex">
  <app-side-panel>coucou</app-side-panel>
<h1 class="text-4xl font-mono font-bold mb-4">
  <span class="text-primary">></span>
  Fullstack Developer<span class="text-primary animate-pulse">|</span>
</h1>
  <!-- Description -->
  <p class="text-neutral max-w-2xl mb-8">
    Passionné par le code propre et les interfaces performantes.
    Je construis des solutions web robustes en fusionnant design
    pixel-perfect et architecture technique rigoureuse.
  </p>

  <!-- Section Technical Stack -->
  <div class="mb-4">
    <h2 class="text-primary font-mono font-bold">
      <span>&lt;&gt;</span> TECHNICAL_STACK
    </h2>
  </div>
</div>
